absl-py==0.9.0
alabaster==0.7.12
altair==4.1.0
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
animation==0.0.6
aplus==0.11.0
appdirs==1.4.3
appJar==0.94.0
apyori==1.1.2
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
awscli==1.18.93
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
badfish==0.1.2
base58==2.0.1
bcrypt==3.1.7
beautifulsoup4==4.9.1
bert==2.2.0
bert-tensorflow==1.0.1
bitarray @ file:///C:/ci/bitarray_1594237193824/work
bkcharts==0.2
bleach==3.1.5
blinker==1.4
blis==0.4.1
bokeh @ file:///C:/ci/bokeh_1593179283802/work
boto==2.49.0
boto3==1.11.7
botocore==1.14.17
Bottleneck==1.3.2
bqplot==0.12.12
branca==0.3.1
Brotli==1.0.7
brotlipy==0.7.0
cachelib==0.1
cachetools==4.0.0
catalogue==1.0.0
catboost==0.20.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
click-help-colors==0.8
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
cmake==3.17.3
cmdstanpy==0.4.0
colorama==0.4.3
colorlover==0.3.0
combo==0.1.1
comtypes==1.1.7
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.7.0
conda-verify==3.4.2
confuse==1.1.0
contextlib2==0.6.0.post1
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1589287890831/work
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.0
cvlib==0.2.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.20
cytoolz==0.10.1
dash==1.13.4
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.1
dash-table==4.8.1
dask @ file:///tmp/build/80754af9/dask-core_1592842333140/work
datefinder==0.7.0
DateTime==4.3
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distributed @ file:///C:/ci/distributed_1592842563762/work
docopt==0.6.2
docutils==0.15.2
dominate==2.5.1
Dora==0.0.3
eli5==0.10.1
emoji==0.5.4
en-core-web-sm==2.2.5
entrypoints==0.3
enum-compat==0.0.3
ephem==3.7.7.0
erlastic==2.0.0
et-xmlfile==1.0.1
fastcache==1.1.0
fbprophet==0.6
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
flake8==3.8.3
flashtext==2.7
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.5.0
folium==0.11.0
freeze==3.0
fsspec==0.7.4
funcy==1.14
future==0.18.2
gast==0.2.2
gensim==3.8.1
gevent @ file:///C:/ci/gevent_1593010757573/work
glob2==0.7
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.14
greenlet==0.4.16
grpcio==1.26.0
gTTS==2.1.1
gTTS-token==1.1.3
h5py==2.10.0
HeapDict==1.0.1
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1589367317537/work
howdoi==1.2.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
htmlmin==0.1.12
hupper==1.10.2
hypothesis @ file:///tmp/build/80754af9/hypothesis_1593435550167/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ImageHash==4.1.0
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1593446525189/work
importlib-resources==1.5.0
imutils==0.5.3
intervaltree==3.0.2
ipydatawidgets==4.0.1
ipykernel==5.3.0
ipyleaflet==0.12.5
ipympl==0.5.6
ipython @ file:///C:/ci/ipython_1593433781269/work
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.3.2
ipyvuetify==1.4.0
ipywebrtc==0.5.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1592833832328/work
jieba3k==0.35.1
Jinja2==2.11.2
jmespath==0.9.4
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
joshbasiccalculator==0.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-cjk-xelatex==0.2
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594163838128/work
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring @ file:///C:/ci/keyring_1593109817825/work
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
kmodes==0.10.1
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
lazy-object-proxy==1.5.0
libarchive-c==2.9
lightgbm==2.3.1
lime==0.2.0.1
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
LunarCalendar==0.0.9
lxml==4.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.2.2
mccabe==0.6.1
menuinst==1.4.16
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mlxtend==0.17.2
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
msrest==0.6.13
multipledispatch==0.6.0
multitasking==0.0.9
murmurhash==1.0.2
music==0.7b0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
neatutils==0.0.1
nest-asyncio==1.3.3
networkx==2.4
newspaper3k==0.2.8
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.0.3
num2words==0.5.10
numba==0.50.1
numexpr==2.7.1
numpy==1.18.5
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
oauthlib==3.1.0
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
opt-einsum==3.1.0
packaging==20.4
pandas @ file:///C:/ci/pandas_1592841747005/work
pandas-profiling==2.3.0
pandas-summary==0.0.7
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
passlib==1.7.2
password==0.2
PasteDeploy==2.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pefile==2019.4.18
pep8==1.7.1
pexpect==4.8.0
phik==0.10.0
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594298234712/work
Pint==0.10.1
pkginfo==1.5.0.1
plac==1.1.3
plaster==1.0
plaster-pastedeploy==0.7
player==0.6.1
plotly==4.4.1
pluggy==0.13.1
ply==3.11
plyer==1.4.3
preshed==3.0.2
progressbar==2.5
progressbar2==3.51.3
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.11.2
psutil==5.7.0
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
py4j==0.10.7
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==1.0.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pydeck==0.4.0b2
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.2.0
pyforest==1.0.3
Pygments==2.6.1
PyInstaller==3.6
PyJWT==1.5.3
pyLDAvis==2.1.2
pylint==2.4.4
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1589222711601/work
pymining==0.2
pymongo==3.10.1
PyNaCl @ file:///C:/ci/pynacl_1593121837095/work
pyod==0.8.1
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyquery==1.4.1
pyramid==1.10.4
pyramid-jinja2==2.8
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.6
pystan==2.19.0.0
pytest==5.4.3
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.7.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server @ file:///C:/ci/python-language-server_1594152769556/work
python-utils==2.4.0
pythreejs==2.2.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
regex @ file:///C:/ci/regex_1593435644645/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-file==1.4.3
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.17.0
rsa==3.4.2
Rtree==0.9.4
ruamel-yaml==0.15.87
s3fs==0.2.2
s3transfer==0.3.1
scikit-image==0.16.2
scikit-learn @ file:///C:/ci/scikit-learn_1592847564598/work
scipy @ file:///C:/ci/scipy_1592916958183/work
seaborn==0.10.1
Send2Trash==1.5.0
shap==0.32.1
simplegeneric==0.8.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.2.3
spacy-streamlit==0.0.2
SpeechRecognition==3.8.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593445585180/work
srsly==1.0.1
statsmodels==0.11.1
stopit==1.1.2
streamlit==0.63.0
suod==0.0.4
sweetviz==1.0a4
sympy @ file:///C:/ci/sympy_1594234541241/work
tables==3.6.1
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tb-nightly==1.15.0a20190806
tblib==1.6.0
tensorboard==2.0.2
tensorflow==2.0.0rc0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
tf-estimator-nightly==1.14.0.dev2019080601
tflearn==0.3.2
Theano==1.0.4
thinc==7.3.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tinysegmenter==0.3
tldextract==2.2.2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
tornado==6.0.4
TPOT==0.11.5
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==4.3.3
traittypes==0.2.1
translationstring==1.3
turtles==1.0.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
tzlocal==2.1
ujson==1.35
umap-learn==0.4.6
unicodecsv==0.14.1
update-checker==0.17
urllib3==1.25.9
vaex==3.0.0
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.2
vaex-hdf5==0.6.0
vaex-jupyter==0.5.1.post0
vaex-ml==0.9.0
vaex-server==0.3.1
vaex-viz==0.4.0
validators==0.15.0
venusian==3.0.0
visions==0.4.4
visitor==0.1.3
wasabi==0.6.0
watchdog @ file:///C:/ci/watchdog_1593446515400/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
WebOb==1.8.6
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wikipedia==1.4.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.7.0
wrapt==1.12.1
wxPython==4.1.0
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yellowbrick==1.0.1
yfinance==0.1.54
zict==2.0.0
zipp==3.1.0
zope.deprecation==4.4.0
zope.event==4.4
zope.interface==5.1.0
